body {
  padding: 20px;
  max-width: 1480px;
  margin: 0 auto !important;
}

h1, h2 {
  padding-top: 2rem;
}

code, tt {
  white-space: pre-wrap;
  word-break: break-word;
}

img {
  max-width: 100%;
}